@model BugTracker.Models.ProjectDetailModel

@{
    ViewBag.Title = "Подробно о проекте";
}

<h2>Подробно о проекте</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

    </dl>
</div>

<h2>Задачи</h2>


@if (User.Identity.Name == Model.ManagerName || User.IsInRole("admin")) { 

    using (Html.BeginForm("Create", "Issue", new { id = Model.Id }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Создать задачу" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th>
            @Html.DisplayName("Статус")
        </th>
        <th>
            @Html.DisplayName("Стоимость")
        </th>
        <th>
            @Html.DisplayName("Разработчик")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Issues)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.UserName)
            </td>
            <td>
                @Html.ActionLink("Подробно", "Details/" + item.Id, "Issue")
            </td>

            @if (User.Identity.Name == Model.ManagerName ||
                User.Identity.Name == item.Developer.UserName ||
                User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Редактировать", "Edit/" + item.Id, "Issue")
                </td>
            }
        </tr>
    }
</table>
<p>
    @Html.ActionLink("К списку проектов", "Index")
</p>
